torch
torchvision
accelerate
av
decord
diffusers
einops
fastapi
huggingface-hub
markdown2
mediapipe
numpy
omegaconf
onnx
onnx_graphsurgeon
onnx_simplifier
opencv-contrib-python
opencv-python-headless
Pillow
polygraphy
pycuda
pydantic
safetensors
scikit-image
starlette
tensorrt
tqdm
transformers
uvicorn
xformers
peft
python-multipart
onnxruntime
colored